[submodule "electrumx"]
	path = electrumx
	url = https://github.com/spesmilo/electrumx.git
[submodule "bitcoin"]
	path = bitcoin
	url = https://github.com/bitcoin/bitcoin.git
[submodule "lnd"]
	path = lnd
	url = https://github.com/lightningnetwork/lnd
[submodule "loop"]
	path = loop
	url = https://github.com/lightninglabs/loop.git
[submodule "fedimint"]
	path = fedimint
	url = https://github.com/fedimint/fedimint.git
