[submodule "electrumx"]
	path = electrumx
	url = https://github.com/spesmilo/electrumx.git
[submodule "bitcoin"]
	path = bitcoin
	url = https://github.com/bitcoin/bitcoin.git
[submodule "lnd"]
	path = lnd
	url = https://github.com/lightningnetwork/lnd
[submodule "loop"]
	path = loop
	url = https://github.com/lightninglabs/loop.git
[submodule "datum_gateway"]
	path = datum_gateway
	url = git@github.com:OCEAN-xyz/datum_gateway.git
[submodule "electrs"]
	path = electrs
	url = git@github.com:romanz/electrs.git
