[submodule "electrumx"]
	path = electrumx
	url = https://github.com/spesmilo/electrumx.git
[submodule "bitcoin"]
	path = bitcoin
	url = https://github.com/bitcoin/bitcoin.git
[submodule "lnd"]
	path = lnd
	url = https://github.com/lightningnetwork/lnd
