# /etc/systemd/system/bitcoind.service

[Unit]
Description=bitcoind

[Service]
User=elmeri
WorkingDirectory=/home/elmeri/ssd-fullnode
ExecStart=/home/elmeri/ssd-fullnode/bitcoind.sh

[Install]
WantedBy=multi-user.target
