# /etc/systemd/system/bitcoind.service

[Unit]
Description=bitcoind

[Service]
User=elmeri
WorkingDirectory=/home/elmeri/BitcoinCore
ExecStart=/home/elmeri/BitcoinCore/bitcoind.sh

[Install]
WantedBy=multi-user.target
