[Unit]
Description=btcpayserver
Requires=nbxplorer.service
Requires=lnd.service
After=nbxplorer.service
After=lnd.service

[Service]
User=elmeri
WorkingDirectory=/home/elmeri/ssd-fullnode
ExecStart=btcpayserver -d /home/elmeri/ssd-fullnode/bitcoin-blockchain-datadir/btcpayserver

[Install]
WantedBy=multi-user.target
