[Unit]
Description=electrumx
Requires=bitcoind.service
After=bitcoind.service

[Service]
User=elmeri
WorkingDirectory=/home/elmeri/ssd-fullnode
ExecStart=/home/elmeri/ssd-fullnode/electrumx_start.sh
ExecStop=/home/elmeri/ssd-fullnode/electrumx_stop.sh

[Install]
WantedBy=multi-user.target
