[Unit]
Description=electrumx
Requires=bitcoind.service
After=bitcoind.service

[Service]
User=elmeri
WorkingDirectory=/home/elmeri/BitcoinCore
ExecStart=/home/elmeri/BitcoinCore/electrumx_start.sh
ExecStop=/home/elmeri/BitcoinCore/electrumx_stop.sh

[Install]
WantedBy=multi-user.target
