[Unit]
Description=lnd
Requires=bitcoind.service
After=bitcoind.service

[Service]
User=elmeri
WorkingDirectory=/home/elmeri/ssd-fullnode
ExecStart=/home/elmeri/ssd-fullnode/lnd.sh

[Install]
WantedBy=multi-user.target
