[Unit]
Description=nbxplorer
Requires=bitcoind.service
After=bitcoind.service

[Service]
User=elmeri
WorkingDirectory=/home/elmeri/ssd-fullnode
ExecStart=nbxplorer -c /home/elmeri/ssd-fullnode/bitcoin-blockchain-datadir/nbxplorer.config

[Install]
WantedBy=multi-user.target
