[Unit]
Description=Bitcoin daemon
Documentation=https://github.com/bitcoin/bitcoin/blob/master/contrib/init/bitcoind.service
After=network-online.target
Wants=network-online.target
RequiresMountsFor=/srv/bitcoin
PartOf=bitcoin-apps.target

[Service]
ExecStart=/srv/bitcoin/fullnode/bin/bitcoind.sh
WorkingDirectory=/srv/bitcoin
Environment="HOME=/srv/bitcoin"

# Process management
Type=notify
NotifyAccess=all
PIDFile=/run/bitcoind/bitcoind.pid

Restart=on-failure
RestartSec=10
TimeoutStartSec=infinity
TimeoutStopSec=600

# Directory creation and permissions
User=bitcoin
Group=bitcoin
RuntimeDirectory=bitcoind
RuntimeDirectoryMode=0710

# Hardening measures
ProtectHome=true
ProtectSystem=strict
ReadWritePaths=/srv/bitcoin/data
ReadOnlyPaths=/srv/bitcoin/config /srv/bitcoin/fullnode

PrivateTmp=true
PrivateDevices=true
NoNewPrivileges=true
MemoryDenyWriteExecute=true
SystemCallArchitectures=native
SystemCallFilter=@system-service
CapabilityBoundingSet=
ProtectKernelTunables=true
ProtectKernelModules=true
ProtectControlGroups=true
RestrictRealtime=true
RestrictNamespaces=true
LockPersonality=true

[Install]
WantedBy=bitcoin-apps.target