[Unit]
Description=btcpayserver
Requires=nbxplorer.service
Requires=lnd.service
After=nbxplorer.service
After=lnd.service

[Service]
User=elmeri
WorkingDirectory=/home/elmeri/bitcoin-extdrive
ExecStart=btcpayserver -d ./data/btcpayserver

[Install]
WantedBy=multi-user.target
