[Unit]
Description=btcpayserver
Requires=postgresql.service
Requires=nbxplorer.service
Requires=lnd.service
After=postgresql.service
After=nbxplorer.service
After=lnd.service

[Service]
User=elmeri
WorkingDirectory=/home/elmeri/bitcoin-extdrive
ExecStart=btcpayserver -d /home/elmeri/bitcoin-extdrive/data/btcpayserver
Restart=always
RestartSec=5
StartLimitInterval=400
StartLimitBurst=3

# Configures the time to wait before service is stopped forcefully.
TimeoutStopSec=900

[Install]
WantedBy=multi-user.target
