[Unit]
Description=datum_gateway
Requires=bitcoind.service
After=bitcoind.service


[Service]
User=elmeri
WorkingDirectory=/home/elmeri/bitcoin-extdrive
ExecStart=./fullnode/datum_gateway/datum_gateway -c config/datum_gateway.json
Restart=always
RestartSec=5
StartLimitInterval=400
StartLimitBurst=3

[Install]
WantedBy=multi-user.target
