[Unit]
Description=Electrs (Electrum Server in Rust)
Documentation=https://github.com/romanz/electrs
Requires=bitcoind.service
After=bitcoind.service
RequiresMountsFor=/srv/bitcoin
PartOf=bitcoin-apps.target
StartLimitIntervalSec=0

[Service]
ExecStart=/srv/bitcoin/fullnode/electrs/target/release/electrs --conf=/srv/bitcoin/config/electrs.toml
WorkingDirectory=/srv/bitcoin
Environment="HOME=/srv/bitcoin"

Restart=always
RestartSec=5
TimeoutStopSec=900
LimitNOFILE=1048576

User=bitcoin
Group=bitcoin

# Hardening measures
ProtectHome=true
ProtectSystem=strict
ReadWritePaths=/srv/bitcoin/data
ReadOnlyPaths=/srv/bitcoin/config /srv/bitcoin/fullnode

PrivateTmp=true
PrivateDevices=true
NoNewPrivileges=true
MemoryDenyWriteExecute=true
SystemCallArchitectures=native
SystemCallFilter=@system-service
CapabilityBoundingSet=
ProtectKernelTunables=true
ProtectKernelModules=true
ProtectControlGroups=true
RestrictRealtime=true
RestrictNamespaces=true
LockPersonality=true

[Install]
WantedBy=bitcoin-apps.target