[Unit]
Description=lnd
Requires=bitcoind.service
After=bitcoind.service

[Service]
User=elmeri
WorkingDirectory=/home/elmeri/bitcoin-extdrive
ExecStart=/home/elmeri/bitcoin-extdrive/fullnode/bin/lnd.sh
Restart=always
RestartSec=5
StartLimitInterval=400
StartLimitBurst=3

# Configures the time to wait before service is stopped forcefully.
TimeoutStopSec=900

[Install]
WantedBy=multi-user.target
