[Unit]
Description=nbxplorer
Requires=bitcoind.service
After=bitcoind.service

[Service]
User=elmeri
WorkingDirectory=/home/elmeri/bitcoin-extdrive
ExecStart=nbxplorer -c config/nbxplorer.config
Restart=always
RestartSec=5
StartLimitInterval=400
StartLimitBurst=3

[Install]
WantedBy=multi-user.target
