[Unit]
Description=Bitcoin daemon
Documentation=https://github.com/bitcoin/bitcoin/blob/master/contrib/init/bitcoind.service
After=network-online.target
Wants=network-online.target
RequiresMountsFor=/srv/bitcoin
PartOf=bitcoin-apps.target

[Service]
ExecStart=/srv/bitcoin/fullnode/bin/bitcoind.sh
WorkingDirectory=/srv/bitcoin
Environment="HOME=/srv/bitcoin"

# Process management
Type=notify
NotifyAccess=all
PIDFile=/run/bitcoind/bitcoind.pid

Restart=on-failure
RestartSec=10
TimeoutStartSec=infinity
TimeoutStopSec=600
LimitNOFILE=1048576

# Directory creation and permissions
User=bitcoin
Group=bitcoin
UMask=0077
RuntimeDirectory=bitcoind
RuntimeDirectoryMode=0710

# Hardening measures

# Deny access to /home, /root and /run/user
ProtectHome=true

# Mount /usr, /boot/ and /etc read-only for the process.
ProtectSystem=strict

# Only write data
ReadWritePaths=/srv/bitcoin/data

# Read code and configs
ReadOnlyPaths=/srv/bitcoin/config /srv/bitcoin/fullnode

# Provide a private /tmp and /var/tmp.
PrivateTmp=true

# Use a new /dev namespace only populated with API pseudo devices
# such as /dev/null, /dev/zero and /dev/random.
PrivateDevices=true

# Disallow the process and all of its children to gain
# new privileges through execve().
NoNewPrivileges=true

# Deny the creation of writable and executable memory mappings.
MemoryDenyWriteExecute=true

SystemCallArchitectures=native
SystemCallFilter=@system-service
CapabilityBoundingSet=
ProtectKernelTunables=true
ProtectKernelModules=true
ProtectControlGroups=true
RestrictRealtime=true
RestrictNamespaces=true
LockPersonality=true

[Install]
WantedBy=bitcoin-apps.target
