[Unit]
Description=datum_gateway
Requires=bitcoind.service
After=bitcoind.service
RequiresMountsFor=/srv/bitcoin
PartOf=bitcoin-apps.target
StartLimitIntervalSec=400
StartLimitBurst=3

[Service]
ExecStart=/srv/bitcoin/fullnode/datum_gateway/datum_gateway -c /srv/bitcoin/config/datum_gateway.json
WorkingDirectory=/srv/bitcoin
Environment="HOME=/srv/bitcoin"

Restart=always
RestartSec=5
TimeoutStopSec=900

User=bitcoin
Group=bitcoin

# Hardening measures
ProtectHome=true
ProtectSystem=strict
ReadWritePaths=/srv/bitcoin/data
ReadOnlyPaths=/srv/bitcoin/config /srv/bitcoin/fullnode

PrivateTmp=true
PrivateDevices=true
NoNewPrivileges=true
MemoryDenyWriteExecute=true
SystemCallArchitectures=native
SystemCallFilter=@system-service
CapabilityBoundingSet=
ProtectKernelTunables=true
ProtectKernelModules=true
ProtectControlGroups=true
RestrictRealtime=true
RestrictNamespaces=true
LockPersonality=true

[Install]
WantedBy=bitcoin-apps.target
