[Unit]
Description=Electrs (Electrum Server in Rust)
Documentation=https://github.com/romanz/electrs
Requires=bitcoind.service
After=bitcoind.service
RequiresMountsFor=/srv/bitcoin
PartOf=bitcoin-apps.target
StartLimitIntervalSec=0

[Service]
ExecStart=/srv/bitcoin/fullnode/electrs/target/release/electrs --conf=/srv/bitcoin/config/electrs.toml
WorkingDirectory=/srv/bitcoin
Environment="HOME=/srv/bitcoin"

Restart=always
RestartSec=5
TimeoutStopSec=900
LimitNOFILE=1048576

User=bitcoin
Group=bitcoin
UMask=0022

# Hardening measures
# Deny access to /home, /root and /run/user
ProtectHome=true

# Mount /usr, /boot/ and /etc read-only for the process.
ProtectSystem=strict

# Only write data
ReadWritePaths=/srv/bitcoin/data

# Read code and configs
ReadOnlyPaths=/srv/bitcoin/config /srv/bitcoin/fullnode

# Provide a private /tmp and /var/tmp.
PrivateTmp=true

# Use a new /dev namespace only populated with API pseudo devices
# such as /dev/null, /dev/zero and /dev/random.
PrivateDevices=true

# Disallow the process and all of its children to gain
# new privileges through execve().
NoNewPrivileges=true

# Deny the creation of writable and executable memory mappings.
MemoryDenyWriteExecute=true

SystemCallArchitectures=native
SystemCallFilter=@system-service
CapabilityBoundingSet=
ProtectKernelTunables=true
ProtectKernelModules=true
ProtectControlGroups=true
RestrictRealtime=true
RestrictNamespaces=true
LockPersonality=true

[Install]
WantedBy=bitcoin-apps.target
