[Unit]
Description=nbxplorer
Requires=bitcoind.service
After=bitcoind.service
RequiresMountsFor=/srv/bitcoin
PartOf=bitcoin-apps.target
StartLimitIntervalSec=400
StartLimitBurst=3

[Service]
ExecStart=nbxplorer -c /srv/bitcoin/config/nbxplorer.config
WorkingDirectory=/srv/bitcoin
Environment="HOME=/srv/bitcoin"

Restart=always
RestartSec=5
TimeoutStopSec=900

User=bitcoin
Group=bitcoin
UMask=0077

# Hardening measures
ProtectHome=true
ProtectSystem=strict
ReadWritePaths=/srv/bitcoin/data
ReadOnlyPaths=/srv/bitcoin/config /srv/bitcoin/fullnode

PrivateTmp=true
PrivateDevices=true
NoNewPrivileges=true
# MemoryDenyWriteExecute is omitted for .NET Core JIT compatibility
SystemCallArchitectures=native
SystemCallFilter=@system-service
CapabilityBoundingSet=
ProtectKernelTunables=true
ProtectKernelModules=true
ProtectControlGroups=true
RestrictRealtime=true
RestrictNamespaces=true
LockPersonality=true

[Install]
WantedBy=bitcoin-apps.target
